body{
    margin: 15px 15px;
}


div{
    margin-top: 20px;
}

.green{
    background-color: brown;
    height: 50px;
}

.blue{
    background-color: burlywood;
    height: 50px;
}

.orange{
    background-color: blue;
    height: 50px;
}